@inherits LayoutComponentBase

<PageTitle>Intuedit</PageTitle>

<div class="d-flex flex-column vh-100">
        <NavMenu />


    <main>

        <article>
            @Body
        </article>
    </main>
    <Footer />
</div>
