@page "/contact"


<section class="portfolio-container" style="background-color: #5C475E; height: 100vh;">
<div style="background-color: #5C475E;">
<div class="portfolio-content">
    <h2 class="portfolio-h2">Where technical know-how and movie magic come together.</h2>
    <div class="portfolio-p-group">
        <p>You shouldn't have to worry about your brand when you entrust it to a video editor. Our team understands the responsibility, and works hard to deliver finished work that engages the audience you've worked hard to maintain.</p>
    </div>
    <form action="https://formspree.io/f/mjvqlwrq"
            method="POST">
        <p>Questions? Send us an email using the form below.</p>
        <label>
            Email:
            <input type="email" name="email">
        </label>
        <label>
            Message:
            <textarea name="message"></textarea>
        </label>
        <button type="submit">Send</button>
    </form>
</div>
</div>
</section>












    @{
    }

