@page "/"
@layout MainLayout

<PageTitle>Intuedit</PageTitle>

<div class="main-container">
    <div class="hero-container">
        <h1>Your Vision, Our Intuition</h1>
        <p class="large-p">Whether you're a filmmaker, content creator, or business owner, our dedicated team is here to breathe life into your ideas. We listen, we understand, and we intuitively shape your content to engage, inspire, and leave a lasting impact.</p>
        <p class="small-p">Whether you're a filmmaker, content creator, or business owner, our dedicated team is here to breathe life into your ideas.</p>
    </div>
    <div>
    <section class="intro-container">
             <div class="p-center"><p>Explore how professional video editing can elevate your brand</p>
              <div class="arrow bounce"></div></div>
             <div style="width: 100%; display: flex; align-items: center; justify-content: center; overflow: hidden;" class="vidsize">
                 <div style="position: relative; width: 100%; height: 0; padding-top: 56.25%;">
                     <p><iframe style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; border: none;" src="https://www.youtube.com/embed/d-iO-g10L74?si=4JeLSMkf9t23W9wo&loop=1&autoplay=1&mute=1&controls=0" width="560" height="315" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe></p>
                 </div>
             </div>   
    </section>
        @*<div style="background-color: #781880; height: 2rem; margin-bottom: 2rem;"></div>*@
        <Portfolio/>

        <Contact/>
    </div>









</div>

