@page "/pricing"

<div class="main-cont">
    <div class="hero-cont">
        <h1>Value Without Compromise</h1>
        <p>To us, this is more than just a tagline. It hurts our souls to craft a half-hearted video that exists just to exist. We also believe that great videos should be accessible to everyone, and we work with our clients to make that possible.</p>
     
    </div>

    <div class="pricing-cont">
        <div class="spacer" style="border-bottom: 2px solid #907C91;">
            <h2>Pricing</h2>
            <p>For the typical project, we'll charge <span>$35 an hour.</span> For long-term projects or partnerships, we'll work together to come up with a pricing model that makes the most sense.</p>
        </div>
        <div class="spacer" style="border-bottom: 2px solid #907C91;">
            <h2>What we do</h2>
            <p>In addition to editing together footage according to your vision, we do audio editing/balancing, color grading, and 2D motion graphics.</p>
        </div>
        <div class="spacer">
            <h2>Questions?</h2>
            <p>Get in touch with us to go over your needs for your project: <a href="mailto: info@intuedit.com">info@intuedit.com</a></p>
        </div>
    </div>
    



</div>







@{
}